#calculator{
    border: 1px solid rgb(151, 146, 146);
    border-radius: 5px;
    width: 250px; 
    height: 330px;
    margin: 100px auto;
}
#display{
   margin: 10px;
   padding: 4px;
   width:85% ; 
   font-size: 25px;
}
.button_container{
    display: flex;
    justify-content: center;
flex-wrap: wrap;
}
.button{
    width: 45px;
    height:45px;
    margin: 3px;
   
}